@import "../../styles/mixins";

.auth-form {
  @include flex;
  height: 100vh;
  font-family: Inter;
  flex-direction: column;
  .title {
    color: #000;
    font-size: 64px;
    line-height: 160%;
    letter-spacing: 0.32px;
    font-weight: 400;
  }

  label {
    color: #000;
    line-height: 160%;
    letter-spacing: 0.08px;
  }

  input {
    width: 407px;
    height: 57px;
    border-radius: 6px;
    border: 1px solid #000;
    margin-top: 12px;
    background: #fdfdfd;
    margin-bottom: 8px;
    padding: 0 16px;
  }

  .btn {
    margin: 46px 0;
  }
}

.error-msg {
  color: red;
  margin: 4px 0;
}
