.footer {
  margin-top: 40px;
  padding: 16px;
  color: #fff;
  text-align: center;
  background: linear-gradient(to bottom right, #787ff6, #7bd5f5);

  a {
    color: #fff;
    text-decoration: underline;
  }
}
