@import "../../styles/mixins";
@import "../../styles/variables";

.banner {
  padding: 230px 0;
  width: $page-width;
  margin: 0 auto;
  position: relative;
  .title {
    @include flex;
    font-family: "Helvetica Neue", Helvetica, Arial;
    width: 640.994px;
    height: 182.857px;
    flex-direction: column;
    color: #212353;
    font-size: 80px;
    font-weight: 700;
    line-height: 110%;
  }

  .desc {
    width: 377.64px;
    height: 119.255px;
    color: #4b5d68;
    font-family: Avenir;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    margin: 50px 0;
  }

  .btn {
    font-family: Avenir;
    font-size: 18px;
    font-weight: 500;
  }

  .img {
    position: absolute;
    width: 759.255px;
    height: 401.491px;
    bottom: 36px;
    right: 0;
    z-index: -1;
    img {
      width: 100%;
    }
  }
}
